<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_header') %>
    <style>
        form {
          display: inline;
        }
      </style>
  </head>
  <body style="font-size:20px">
    <p style="margin-left:100px; font-size:30px"><%= shortURL %> : ----> <%= url %> </p>
    <!-- Edit the URL-->
    <form method="POST" action="/urls/<%= shortURL %>/edit" style="font-size:15px; margin-left:100px;">
      <input style="width:300; font-size:25px" id="URL" type="text" name="URL" value="<%= url %>">
      <button style="font-size:25px" type="submit">Update</button>
    </form>
  </body>
</html>