<!DOCTYPE html>
  <html lang="en">
    <head>
      <%- include('partials/_header') %>
      <style>
        form {
          display: inline;
        }
      </style>
    </head>
    <body style="font-size:20px">
      <form method="GET" action="urls/new">
        <p style="margin-left:25px">Do you want to add a new URL?</p>
        <button style="font-size:15px" type="submit">New URL</button>
      </form>
      <ul>
        <% if (urls){
          for (var item in urls) { %>
            <li style="font-size:30px; padding:50px">
              <%= item %> : <%= urls[item].URL %>
              <a style="font-size:20px" href="/urls/<%= item %>">Edit</a>
              <form method="POST" action="/urls/<%= item %>/delete">
                <button style="font-size:15px" type="submit">Delete</button>
                <br/>
              </form>
            </li>
          <%}
        }%>
      </ul>
    </body>
  </html>